.quadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 158px;
    width: 215px;
    background-color: white;
    border: 0px solid #ffffff;
    border-radius: 10px;
    gap: 14px;
    font-size: 14px;

    .nomeex {
        font-weight: 600;

    }
}

.laranja {

    width: 60px;
    height: 60px;
    left: 157px;
    top: 241px;

    background: #FFCE37;
    border-radius: 12px;

}

.limao {

    width: 60px;
    height: 60px;
    left: 157px;
    top: 241px;

    background: #B3FF37;
    border-radius: 12px;

}

.ciano {

    width: 60px;
    height: 60px;
    left: 157px;
    top: 241px;

    background: #37FFF3;
    border-radius: 12px;

}

.roxo {

    width: 60px;
    height: 60px;
    left: 157px;
    top: 241px;

    background: #8823fc;
    border-radius: 12px;

}

.azul {

    width: 60px;
    height: 60px;
    left: 157px;
    top: 241px;

    background: #0000ff;
    border-radius: 12px;

}

.amarelo {

    width: 60px;
    height: 60px;
    left: 157px;
    top: 241px;

    background: #ffe75d;
    border-radius: 12px;

}

.vermelho {

    width: 60px;
    height: 60px;
    left: 157px;
    top: 241px;

    background: #ff0000;
    border-radius: 12px;

}

.preto {

    width: 60px;
    height: 60px;
    left: 157px;
    top: 241px;

    background: #000000;
    border-radius: 12px;

}

.rosa {

    width: 60px;
    height: 60px;
    left: 157px;
    top: 241px;

    background: magenta;
    border-radius: 12px;

}

.verde {

    width: 60px;
    height: 60px;
    left: 157px;
    top: 241px;

    background: green;
    border-radius: 12px;

}

.marrom {

    width: 60px;
    height: 60px;
    left: 157px;
    top: 241px;

    background: rgb(59, 38, 20);
    border-radius: 12px;

}