.quadrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 158px;
    width: 200px;
    background-color: white;
    border: 0px solid #ffffff;
    border-radius: 10px;
    gap: 14px;
    font-size: 14px;

    .nomeex {
        font-weight: 600;

    }

    .icone {
        width: 60px;
        height: 60px;

        left: 157px;
        top: 241px;

        border-radius: 12px;
    }

    .laranja {
        background: #FFCE37;

    }

    .limao {
        background: #B3FF37;

    }

    .ciano {
        background: #37FFF3;

    }

    .roxo {
        background: #8823fc;

    }

    .azul {
        background: #0000ff;

    }

    .amarelo {
        background: #ffe75d;

    }

    .vermelho {
        background: #ff0000;

    }

    .preto {
        background: #000000;

    }

    .rosa {
        background: #ff00ff;
    }

    .verde {
        background: #008000;

    }

    .marrom {
        background: #3b2614;

    }
}