.App {
  background-color: #f5f6fa;
  height: 1024px;

  .pagina-inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: #6278F7;
    color: white;

    .logo {
      display: flex;
      align-items: center;
      gap: 35px;
      position: relative;
      left: 80px;

      h2 {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .topicos {
      display: flex;
      position: relative;
      right: 80px;
      gap: 25px;
      font-size: 20px;
      font-weight: 300;

      a {
        text-decoration: none;
        color: white;
      }
    }

  }

  body {

    .centro {
      display: flex;
      flex-direction: column;
      margin-left: 80px;
      margin-top: 65px;

      a {
        text-decoration: none;
        color: inherit;

      }

      a:hover {
        color: #6278F7;
      }

      h2 {
        font-size: 26px;

      }

      .exs {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        gap: 45px;

      }
      
      .laranja {

        width: 60px;
        height: 60px;
        left: 157px;
        top: 241px;

        background: #FFCE37;
        border-radius: 12px;

      }

      .limao {

        width: 60px;
        height: 60px;
        left: 157px;
        top: 241px;

        background: #B3FF37;
        border-radius: 12px;

      }

      .ciano {

        width: 60px;
        height: 60px;
        left: 157px;
        top: 241px;

        background: #37FFF3;
        border-radius: 12px;

      }

      .roxo {
        
        width: 60px;
        height: 60px;
        left: 157px;
        top: 241px;

        background: #8823fc;
        border-radius: 12px;

      }

      .azul{
           
        width: 60px;
        height: 60px;
        left: 157px;
        top: 241px;

        background: #0000ff;
        border-radius: 12px;

      }

      .amarelo{
           
        width: 60px;
        height: 60px;
        left: 157px;
        top: 241px;

        background: #ffe75d;
        border-radius: 12px;

      }

      .vermelho{
           
        width: 60px;
        height: 60px;
        left: 157px;
        top: 241px;

        background: #ff0000;
        border-radius: 12px;

      }

      .preto{
           
        width: 60px;
        height: 60px;
        left: 157px;
        top: 241px;

        background: #000000;
        border-radius: 12px;

      }

      .rosa{
           
        width: 60px;
        height: 60px;
        left: 157px;
        top: 241px;

        background: magenta;
        border-radius: 12px;

      }

      .verde{
           
        width: 60px;
        height: 60px;
        left: 157px;
        top: 241px;

        background: green;
        border-radius: 12px;

      }

      .marrom{
                   
        width: 60px;
        height: 60px;
        left: 157px;
        top: 241px;

        background: rgb(59, 38, 20);
        border-radius: 12px;

      }
    }
  }
}