.Ex2 {

  background-color: #f5f6fa;
  height: 938px;

  .pagina-exercicio2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 82px;
    background-color: #6278F7;
    color: white;

    .logo {
      display: flex;
      align-items: center;
      gap: 35px;
      position: relative;
      left: 80px;

      h2 {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .topicos {
      display: flex;
      position: relative;
      right: 80px;
      gap: 25px;
      font-size: 20px;
      font-weight: 300;

      a {
        text-decoration: none;
        color: white;
      }
    }

  }

  .centro {
    display: flex;
    flex-direction: column;
    margin-left: 78px;
    margin-top: 48px;


    .título {
      align-items: center;
      align-self: normal;
      display: flex;
      gap: 18px;
      margin-left: -5px;

      h2 {
        font-size: 24px;
      }
    }

    .limao {
      background-color: #B3FF37;
    }

    .conteúdo {
      gap: 27px;
      margin-left: -78px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .descrição {
        display: flex;
        justify-content: center;
        line-height: 15px;
        font-size: 15px;
        margin-top: 22px;
        text-align: center;
        padding: 80px 15px;

        width: 1170px;
        height: 195px;
        background-color: white;
        border-radius: 10px;

        p {
          width: 498px;
        }
      }

    }

    .caixa {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      padding-top: 23px;
      padding-left: 25px;
      height: 170px;
      width: 434px;
      background-color: white;
      border-radius: 10px;
      box-shadow: -1px -1px 10px 1px rgba(214, 214, 214, 0.747);

      .grupo1 {
        position: relative;
        top: -3px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
          border: 1px solid #a5a5a5;
          border-radius: 13px;
          width: 380px;
          height: 38px;
          padding-left: 15px;
          font-size: 15px;
          font-weight: 500;
          
        }
      }

      .botão {
        display: flex;
        justify-content: end;
      
        button {
          background-color: #6278F7;
          font-size: 15px;
          color: white;
          border: 0px;
          border-radius: 10px;
          height: 45px;
          width: 197px;
          margin-top: 23px;
          margin-right: 31px;
        }
      }
    }

    .resultado{
      position: relative;
      top: -18px;
      left: 125px
    }
  }
}