.pagina-sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: #6278F7;
    color: white;
  
    .logo {
      display: flex;
      align-items: center;
      gap: 35px;
      position: relative;
      left: 80px;
  
      h2 {
        font-size: 20px;
        font-weight: 500;
      }
    }
  
    .topicos {
      display: flex;
      position: relative;
      right: 80px;
      gap: 25px;
      font-size: 20px;
      font-weight: 300;
  
      a {
        text-decoration: none;
        color: white;
      }
    }
  
  }